.filterContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.filterButton {
  font-family: montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  padding: 6px 20px;
  background-color: transparent;
  color: #ffffff;
  transition: all 0.3s;
  margin-right: 10px;
}

.filterButton:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
  cursor: pointer;
}

.filterButton:active {
  border-color: #ad61ff;
  color: #ad61ff;
}

.filterButtonActive {
  border-color: #bb86fc;
  color: #bb86fc;
}

._btnText {
  font-size: 16px;
}

.filterList {
  position: absolute;
  font-family: montserrat;
  font-size: 20px;
  top: 100%;
  left: 0;
  width: 300px;
  max-height: 250px;
  margin: 0;
  margin-top: 10px;
  padding: 34px;
  background-color: #333;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  list-style: none;
  overflow-y: auto;
  z-index: 1000;
}

.filterItem {
  margin: 0;
  padding: 5px 0;
}

.filterLink {
  color: #fff;
  text-decoration: none;
}

.filterLink:hover,
.filterLink:focus {
  color: #bb86fc;
  text-decoration: underline;
}

/* Custom scrollbar styles */
.filterList::-webkit-scrollbar {
  width: 8px;
}

.filterList::-webkit-scrollbar-track {
  background: #333333;
  border-radius: 5px;
}

.filterList::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 5px;
  height: 50px;
  margin-right: 34px;
}

.filterList::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
